---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'За нас',
};
---

<Layout metadata={metadata}>
  <Content
    id="team"
    title="Кои сме ние"
    tagline="Екипът"
    columns={3}
    items={[
      {
        icon: 'tabler:world-www',
        callToAction: {
          target: '_blank',
          text: 'Уебсайт',
          href: 'https://danielgospodinow.com',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://linkedin.com/in/danielgospodinow',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/danielgospodinow',
        },
      },
    ]}
    image={{
      src: 'https://i.imgur.com/y76nEbO.jpeg',
      alt: 'Цветно изображение',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <p>
        До момента екипът на Ехадом се състои от двама души. Аз - Даниел и баща ми - Веселин. Аз съм по-фокусиран върху
        технологичната част, докато баща ми се фокусира върху физическите инсталации.
      </p>
      <br />
      <p>
        Повече за мен - аз съм софтуерен инженер със страст към системите за умни домове и домашната автоматизация. Имам опит в
        изграждането на дистрибутирани системи в компания от Силициевата долина, както и в изграждането на
        мащабни корпоративни приложения.
      </p>
      <br />
      <p>
        Нещото, което много ме мотивира и вълнува, е потенциалът за трансформиране, улесняване и подобряване на ежедневния живот у дома с най-съвременните
        технологии.
      </p>
      <br />
      <p>Ако сте любопитни да се запознаете по-дълбоко с мен и моята работа, можете да проверите моите социални мрежи.</p>
    </Fragment>
  </Content>

  <Testimonials
    id="testimonials"
    title="Какво казват нашите потребители?"
    tagline="Отзиви"
    testimonials={[
      {
        testimonial:
          'Ехадом трансформира дома ми в умен рай. Инсталацията беше безпроблемна. Сега мога да контролирам всичко от телефона си!',
        name: 'Хакан Халил',
        job: 'Софтуерен инженер @ Broadcom',
        image: {
          src: '~/assets/images/testi2.jpg',
          alt: 'Изображение на Хакан Халил',
        },
      },
      {
        testimonial:
          'Системата за умен дом, инсталирана от Ехадом, направи живота ми много по-лесен. От автоматизирано осветление до системи за сигурност, всичко работи безупречно. Горещо препоръчвам техните услуги!',
        name: 'Георги Ангелов',
        job: 'Собственик на бизнес @ Metacar.bg',
        image: {
          src: '~/assets/images/testi5.jpg',
          alt: 'Изображение на Джош Уилкинсън',
        },
      },
      {
        testimonial:
          'Бях впечатлен от професионализма и експертизата на екипа на Ехадом. Те предоставиха отлична поддръжка и се увериха, че всички мои устройства за умен дом са настроени перфектно.',
        name: 'Александър Тонев',
        job: 'Софтуерен разработчик @ Bosch',
        image: {
          src: '~/assets/images/testi4.jpg',
          alt: 'Изображение на Сидни Хансен',
        },
      },
      {
        testimonial:
          'Благодарение на Ехадом, домът ми сега е по-умен и по-ефективен. Процесът на инсталация беше бърз, а екипът беше доста разбиращ. Обичам удобството да контролирам всичко дистанционно.',
        name: 'Мирослав Грозданов',
        job: 'Ръководител на техническа поддръжка @ Shelly',
        image: {
          src: '~/assets/images/testi1.jpg',
          alt: 'Изображение на Мирослав Грозданов',
        },
      },
      {
        testimonial:
          'Ехадом предостави изключителна услуга от край до край. Те ми помогнаха да избера правилните устройства за умен дом и ги инсталираха с голяма грижа. Екипът за поддръжка винаги е на разположение да помогне при всякакви проблеми.',
        name: 'Кристиан Иванов',
        job: 'Лична охрана @ G4S',
        image: {
          src: '~/assets/images/testi3.jpg',
          alt: 'Изображение на Кристиан Иванов',
        },
      },
      {
        testimonial:
          'Не мога да бъда по-щастлив с инсталацията на умния дом от Ехадом. Екипът беше професионален, ефективен и предостави отлична поддръжка. Домът ми сега е по-сигурен и енергийно ефективен.',
        name: 'Милен Георгиев',
        job: 'Софтуерен разработчик @ Progress',
        image: {
          src: '~/assets/images/testi6.jpg',
          alt: 'Изображение на Сидни Хансен',
        },
      },
    ]}
  />

  <CallToAction
    title="Какво следва?"
    subtitle="Имате ли въпроси? Проверете често задаваните въпроси или се свържете директно с нас. Ние сме тук, за да помогнем!"
    actions={[
      {
        variant: 'primary',
        text: 'Често задавани въпроси',
        href: '/faq',
      },
      {
        variant: 'primary',
        text: 'Свържете се с нас',
        href: '/contact',
      },
    ]}
  />
</Layout>
