---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Company',
};
---

<Layout metadata={metadata}>
  <Content
    id="about"
    title="Who we are"
    tagline="About"
    columns={3}
    items={[
      {
        icon: 'tabler:world-www',
        callToAction: {
          target: '_blank',
          text: 'Website',
          href: 'https://danielgospodinow.com',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://linkedin.com/in/danielgospodinow',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/danielgospodinow',
        },
      },
    ]}
    image={{
      src: 'https://i.imgur.com/y76nEbO.jpeg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <p>
        So far, Ehadom's team is composed of two people. Me - Daniel and my father - Veselin. I'm more focused on the
        tech part while my father is responsible for the installations.
      </p>
      <br />
      <p>
        More about me - I'm a software engineer with a passion for smart home systems and automation. I have experience
        building distributed applications in a Silicon Valley company as well as building large-scale enterprise
        applications.
      </p>
      <br />
      <p>
        I aspire to build smart homes and the potential to transform everyday living with cutting-edge technology is
        what drives me.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can check my:</p>
    </Fragment>
  </Content>

  <Testimonials
    id="testimonials"
    title="What our users say?"
    tagline="Testimonials"
    testimonials={[
      {
        testimonial:
          'Ehadom transformed my home into a smart haven. The installation was seamless, and the support team was incredibly helpful. Now, I can control everything from my phone!',
        name: 'Hakan Halil',
        job: 'Software Engineer @ Broadcom',
        image: {
          src: '~/assets/images/testi2.jpg',
          alt: 'Hakan Halil Image',
        },
      },
      {
        testimonial:
          'The smart home system installed by Ehadom has made my life so much easier. From automated lighting to security systems, everything works flawlessly. Highly recommend their services!',
        name: 'Georgi Angelov',
        job: 'Business owner @ Metacar.bg',
        image: {
          src: '~/assets/images/testi5.jpg',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was impressed with the professionalism and expertise of the Ehadom team. They provided excellent support and ensured that all my smart home devices were set up perfectly.',
        name: 'Alexander Tonev',
        job: 'Software Developer @ Bosch',
        image: {
          src: '~/assets/images/testi4.jpg',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        testimonial:
          'Thanks to Ehadom, my home is now smarter and more efficient. The installation process was quick, and the team was very knowledgeable. I love the convenience of controlling everything remotely.',
        name: 'Miroslav Grozdanov',
        job: 'Software Technical Support Lead @ Shelly',
        image: {
          src: '~/assets/images/testi1.jpg',
          alt: 'Miroslav Grozdanov Image',
        },
      },
      {
        testimonial:
          'Ehadom provided exceptional service from start to finish. They helped me choose the right smart home devices and installed them with great care. The support team is always available to assist with any issues.',
        name: 'Kristian Ivanov',
        job: 'Personal Security @ G4S',
        image: {
          src: '~/assets/images/testi3.jpg',
          alt: 'Kristian Ivanov Image',
        },
      },
      {
        testimonial:
          "I couldn't be happier with the smart home installation by Ehadom. The team was professional, efficient, and provided excellent support. My home is now more secure and energy-efficient.",
        name: 'Milen Georgiev',
        job: 'Software Developer @ Progress',
        image: {
          src: '~/assets/images/testi6.jpg',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  />

  <CallToAction
    title="What's next?"
    subtitle="Do you have any questions? Check the FAQs or reach out to us directly. We're here to help!"
    actions={[
      {
        variant: 'primary',
        text: 'FAQs',
        href: '/faq',
      },
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
      },
    ]}
  />
</Layout>
