---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
---

<Layout
  metadata={{
    title: 'Ехадом — Разработчици и консултанти за умни домове',
    ignoreTitleTemplate: true,
  }}
>
  <Hero image={{ src: '~/assets/images/hero-1.jpg', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title">
      Вашият дом. <span class="xl:inline">Умен.</span> С
      <span class="text-accent dark:text-white highlight"> Ехадом</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Ние превръщаме всеки дом в умен чрез изработване на цялостни проекти за домашна автоматизация. Предлагаме също
        консултации.</span
      >
    </Fragment>
  </Hero>

  <Features
    id="benefits"
    tagline="Ползи"
    title="Какво може да получите с Ехадом"
    subtitle="Ние предлагаме една от най-професионалните и всеобхватни услуги за умни домове."
    items={[
      {
        title: 'Множество джаджи, които улесняват живота',
        description:
          'Има десетки, дори стотици устройства, които могат да направят живота по-лесен. Ние можем да ви помогнем да изберете правилните устройства за вашите нужди.',
        icon: 'tabler:devices-heart',
      },
      {
        title: 'Умни и неусетни автоматизации, които пестят време, усилия и пари',
        description:
          'Автоматизациите могат да ви спестят много време и усилия. Те също така могат да ви спестят пари, като оптимизират използването на вашите уреди.',
        icon: 'tabler:settings-code',
      },
      {
        title: 'Гласово управление за лесно взаимодействие с вашия дом',
        description:
          'Това вероятно е най-удовлетворяващият начин за взаимодействие с вашия дом. Просто кажете какво искате и вашият дом ще го направи.',
        icon: 'tabler:microphone',
      },
      {
        title: 'Мониториране и оптимизиране на енергийното потребление',
        description:
          'Умните устройства обикновено следят енергийното си потребление. Така предоставят наблюдаемост на разходите и улесняват оптимизацията на енергийното потребление и спестяването на пари.',
        icon: 'tabler:shield-dollar',
      },
      {
        title: 'Дистанционно управление и мониториране на вашия дом',
        description:
          'Забравили сте да изключите телевизорите и климатиците, когато сте излезли от дома? Няма проблем, можете да ги проверите и изключите чрез мобилно приложение.',
        icon: 'tabler:heart-rate-monitor',
      },
      {
        title: 'Безкрайно разширяема система за умен дом',
        description:
          'Системата расте с вашите нужди. Тъй като поддържа множество различни производители на умни устройства и има богата общност, добавянето на нови устройства често е елементарно.',
        icon: 'tabler:devices-plus',
      },
    ]}
  />

  <Content
    id="usecases"
    isReversed
    tagline="Примери за употреба"
    title="Какво можете да имате у дома"
    subtitle="Ето някои от най-често срещаните примери за употреба, с които можем да ви помогнем."
    items={[
      {
        title: 'Едно място за управление на всичко',
        description:
          'Можете да управлявате всички ваши умни домашни устройства от едно място - мобилното приложение, независимо дали сте у дома или не. Това включва телевизори, климатици, осветление, камери и всичко останало, което е смарт. Забравете за всички дистанционни вкъщи.',
      },
      {
        title: 'Гласови команди за когато сте заети',
        description:
          'В момента готвите, но искате да включите телевизора или да промените градусите на климатика? Просто се обърнете към домашния ви асистент, за да го направи той.',
      },
      {
        title: 'Автоматизации с помощта на мобилното приложение',
        description:
          'Има възможност за създаване на много интересни и полезни автоматизации на база данни от телефона ви (като локацията му).',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1551650975-87deedd944c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Управлявайте и наблюдавайте вашия дом чрез мобилно приложение или гласови команди.
      </h3>
      Забравете за всички различни дистанционни управления и различни мобилни приложения и управлявайте вашия дом чрез едно
      унифицирано мобилно приложение.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Произвеждайте само това, което консумирате.',
        description: `Загряване на вода по предварително зададен график през деня и изключване на бойлера през нощта.`,
      },
      {
        title: 'Загрявайте вода при поискване чрез гласова команда.',
        description:
          'Много бойлери имат режим "мощно загряване". Той може да бъде включен чрез гласова команда или мобилното приложение, когато има допълнителна нужда от топла вода.',
      },
      {
        title: 'Забравете за физическото взаимодействие с вашия бойлер.',
        description:
          'Можете да управлявате и наблюдавате бойлера чрез мобилно приложение или гласови команди. Няма нужда да ходите до котелното помещение само за да проверите или настроите температурата на водата.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611066415956-91ab6f1f57cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Интелигентна работа на бойлера</h3>
      Топла вода точно и само когато ви е необходима.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Автоматично включване и изключване на осветлението на базата на време',
        description:
          'При залез слънце може автоматично да се включат LED лентите на работещите ви телевизори, осветлението в хола и/или кухнята и т.н. А в 2 часа сутринта всички включени вътрешни светлини могат да се изключат автоматично, докато външните пък се включват.',
      },
      {
        title: 'Автоматично включване и изключване на осветлението на базата на околна яркост или движение',
        description:
          'Осветяване на неосветен гардероб при отваряне (движение). Или лично офис пространство, което се осветява само когато сте там и стане достатъчно тъмно (движение + яркост).',
      },
      {
        title: 'Автоматично включване и изключване на осветлението на базата на настроение',
        description:
          'Например, когато кажете "Нагласи романтична обстановка", светлините се затъмняват и светват в червено.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Автоматично осветление</h3>
      Възможността за автоматично управление на осветлението е едно от най-удовлетворяващите неща в системата за умен дом.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Почиствайте дома си автоматично по график',
        description: 'Неделните сутрини са чудесни за почистване. Защо да не автоматизирате този процес?',
      },
      {
        title: 'Почиствайте дома си, когато не сте вкъщи',
        description:
          'Пътуването и връщането в чист дом е страхотно усещане. Автоматичното почистване може да бъде инициирано по всяко време чрез мобилното приложение.',
      },
      {
        title: 'Почистване при поискване',
        description:
          'Искате помощ с почистването, докато вършите други задачи? Просто кажете "Започни почистване с прахосмукачка" и умната прахосмукачка ще свърши работата, докато вие се занимавате със своите дела.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600322305530-45714a0bc945?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Автоматично почистване на дома</h3>
      Отделяте ли време и усилия за почистване на дома? Не е нужно. Защо да не оставите умната прахосмукачка да го направи
      вместо вас? Може би дори по график. Може би когато не сте вкъщи.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title:
          'Меко изключване на климатиците, когато няма никой вкъщи и включването им обратно, когато някой пристигне',
        description:
          'Ако няма никой вкъщи, климатиците могат да се настроят на гранични стойности, за да се спести енергия. Когато някой пристигне, те могат да се включат обратно на комфортни стойности.',
      },
      {
        title:
          'Меко изключване на климатика в хола през нощта и включването му обратно сутрин, докато правите обратното за климатика в спалнята',
        description:
          'На база конкретна част от денонощието или движения из стаята, климатикът в нея може да бъде меко изключван, за да песни енергия.',
      },
      {
        title: 'Управлявайте климатиците чрез гласово управление или мобилно приложение',
        description:
          'Всичко, което трябва да направите, е да кажете изречението "Настройте температурата на климатика в хола на 24 градуса" или да натиснете бутон.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1636569608385-58efc32690ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Интелигентна работа на климатиците
      </h3>
      Оптимизирайте използването и спестете пари, като използвате климатиците само когато е необходимо.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    id="statistics"
    title="Ето защо вероятно искате система за умен дом"
    subtitle="Данните по-долу са от различни проучвания на Statista, SafeWise, Energy Star, Coldwell Banker и други."
    tagline="Статистика"
    stats={[
      {
        title: 'от собствениците на умни домове биха препоръчали системи за умни домове',
        amount: '92%',
      },
      {
        title: 'от собствениците на умни домове се чувстват по-сигурни и защитени, използвайки система за умен дом',
        amount: '89%',
      },
      {
        title: 'увеличение на стойността на имота, ако има система за умен дом',
        amount: '5-10%',
      },
      { title: 'от средните месечни енергийни спестявания', amount: '15-20%' },
    ]}
  />

  <CallToAction
    title="Какво следва?"
    subtitle="Научете повече за това, което предлагаме, и се присъединете към нашата общност от доволни клиенти, които са трансформирали домовете си с нашите услуги."
    actions={[
      {
        variant: 'primary',
        text: 'Нашите предложения',
        href: '/offering',
      },
    ]}
  />
</Layout>
