---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
---

<Layout
  metadata={{
    title: 'Ehadom — Smart Home providers and consultants',
    ignoreTitleTemplate: true,
  }}
>
  <Hero image={{ src: '~/assets/images/hero-3.jpg', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title">
      Your home. <span class="xl:inline">Smart.</span> With
      <span class="text-accent dark:text-white highlight"> Ehadom</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        At <span class="font-semibold">Ehadom</span>, we provide end-to-end smart home automation and consulting.</span
      >
    </Fragment>
  </Hero>

  <Features
    id="benefits"
    tagline="Benefits"
    title="What you can get with Ehadom"
    subtitle="We provide one of the most professional and comprehensive smart home experiences."
    items={[
      {
        title: 'Numerous gadgets that ease life',
        description:
          'There are dozen, or even hundreds, of devices out there that can make your life easier. We can help you choose the right ones for your needs.',
        icon: 'tabler:devices-heart',
      },
      {
        title: 'Smart and seamless automations that save time, effort, and money',
        description:
          'Automations can save you a lot of time and effort. They can also save you money by optimizing the usage of your devices.',
        icon: 'tabler:settings-code',
      },
      {
        title: 'Voice control for efortless interaction with your home',
        description:
          'Probably the most satisfying way to interact with your home. Just say what you want and your home will do it.',
        icon: 'tabler:microphone',
      },
      {
        title: 'Energy usage monitoring and optimization',
        description:
          'Smart devices usually track their energy usage. Thus, providing observability to cost and making it way easier to optimize your energy usage and save money.',
        icon: 'tabler:shield-dollar',
      },
      {
        title: 'Remote control and monitoring of your home',
        description:
          'You forgot to turn off the TVs and ACs when you left home? No worries, you can check and disable them via a mobile app.',
        icon: 'tabler:heart-rate-monitor',
      },
      {
        title: 'An ever-extendable smart home system',
        description:
          'The system grows with your needs. As it supports numberous different smart device manufacturers and it has a rich community, adding new devices is often a breeze.',
        icon: 'tabler:devices-plus',
      },
    ]}
  />

  <Content
    id="usecases"
    isReversed
    tagline="Use cases"
    title="What you can have at home"
    subtitle="Here are some of the most common use cases that we can help you with."
    items={[
      {
        title: 'Single place to control all',
        description:
          'You can control all your smart home devices from a single place, no matter if you are at home or not. This includes TVs, ACs, lights, cameras, everything.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1551650975-87deedd944c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Control and monitor your home via a mobile app or voice commands.
      </h3>
      Forget about all the different remote controls and different mobile apps, and control your home via a single unified
      mobile app.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Only produce what you consume.',
        description: `Heat water on custom predefined schedules during the day, and keep it disabled during night.`,
      },
      {
        title: 'Heat water on demand via a voice command.',
        description:
          'Many water heaters have a "powerful heating" mode. It can be turned on via voice command or a mobile app when there\'s additonal need of hot water.',
      },
      {
        title: 'Forget about physically interacting with your water heater.',
        description:
          'You can control and monitor the water heater via a mobile app or voice commands. No need to go to the boiler room just to check or adjust the water temperature.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611066415956-91ab6f1f57cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Intelligent water heater operation
      </h3>
      Hot water exactly and only when you need it.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Time-based automatic light toggling',
        description:
          'On sunset, there can be automatic enabling of TV LED strips on working TVs, of the living room and/or kitchen lights, etc. And then at 2 am, all turned on indoor lights can be switched off automatically.',
      },
      {
        title: 'Brightness or motion-based automatic light toggling',
        description:
          "Lighting up an unlit wardrobe upon opening (motion). Or a personal office space that is lit up only when you're there and it gets dark (motion + brightness).",
      },
      {
        title: 'Mood-based automatic light toggling',
        description:
          'E.g., when you say "Set the mood to sexy time", the lights are dimmed and colored accordingly, i.e. red.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Automatic lighting</h3>
      Being able to automatically control lights is one of the most satisfying things in a smart home system.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Clean your house automatically on schedule',
        description: 'Sunday mornings are great for cleaning. Why not automate that process?',
      },
      {
        title: 'Clean your house when you are not at home',
        description:
          'Travelling and coming back to a clean house is a great feeling. Automatic cleaning can be initiated at any time via the mobile app.',
      },
      {
        title: 'On-demand cleaning',
        description:
          'You want on-demand help with the cleaning while doing other chores? Just say "Start vacuum cleaning" and the smart vacuum will do the job while you\'re doing your own business.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600322305530-45714a0bc945?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Automatic house cleaning</h3>
      You're taking time and effort to clean the house? Nah. Why not let the smart vacuum do it for you? Maybe even on a
      schedule. Maybe when you're not at home.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Soft-disable ACs when there's no one at home and enable them back when someone arrives",
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title:
          'Soft-disable living room AC at night and enable it back in the morning while doing the opposite for the bedroom AC',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Operate the ACs via voice control or mobile app',
        description:
          'All it takes is to say the sentence "Set living room AC temperature to 24 degrees", or press a button.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1636569608385-58efc32690ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Intelligent AC operation</h3>
      Optimize usage and save money by using the ACs only when it's necessary.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    id="statistics"
    title="Here's why you probably want a smart home system"
    subtitle="The numbers below are from different surveys from Statista, SafeWise, Energy Star, Coldwell Banker, and others."
    tagline="Statistics"
    stats={[
      {
        title: 'of smart home owners would recommend smart home systems',
        amount: '92%',
      },
      {
        title: 'of smart home owners feel more safe and secure using a smart home system',
        amount: '89%',
      },
      {
        title: 'property value increase if it has a smart home system',
        amount: '5-10%',
      },
      { title: 'of average monthly energy savings', amount: '15-20%' },
    ]}
  />

  <CallToAction
    title="What's next?"
    subtitle="Learn more about what we offer and join our community of satisfied customers who have transformed their homes with our services."
    actions={[
      {
        variant: 'primary',
        text: 'Our offerings',
        href: '/ehadom.github.io/offering',
      },
    ]}
  />
</Layout>
