---
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Предложения',
};
---

<Layout metadata={metadata}>
  <Features2
    id="devices"
    title="Най-използваните джаджи"
    subtitle="Някои от най-популярните устройства и функционалности за умни домове."
    tagline="Устройства"
    items={[
      {
        title: 'Мобилно приложение',
        description:
          'Управлявайте целия си дом чрез мобилно приложение. Включвайте и изключвайте осветлението, настройвайте термостатите и дори проверявайте камерите за сигурност - всичко това от дланта на ръката си. Навсякъде, по всяко време.',
        icon: 'flat-color-icons:iphone',
      },
      {
        title: 'Осветление',
        description:
          'Може осветлението да се включва и изключва автоматично на базата на време, движение или дори вашето настроение. Това е като магия, но реално!',
        icon: 'flat-color-icons:idea',
      },
      {
        title: 'Камери',
        description:
          'Наблюдавайте дома си, дори когато не сте там. С умни камери можете да видите какво се случва в реално време и дори да получавате известия, когато нещо се случва.',
        icon: 'flat-color-icons:webcam',
      },
      {
        title: 'Контрол на климатици',
        description:
          'Настройте перфектната температура за вашия дом, независимо от сезона. С умни климатици и автоматизации можете да пестите енергия и да се чувствате комфортно през цялата година.',
        icon: 'fluent-emoji-flat:snowflake',
      },
      {
        title: 'Прахосмукачки',
        description:
          'Почиствайте дома си без да вдигате пръст. Умните прахосмукачки могат да навигират дома ви, да избягват препятствия и дори да се изпразват сами. Това е като да имате личен помощник за почистване! Почистването може да се активира чрез глас, приложението или автоматизация по график.',
        icon: 'solar:smart-vacuum-cleaner-2-bold-duotone',
      },
      {
        title: 'Хранилки и фонтани за домашни любимци',
        description:
          'Уверете се, че вашият домашен любимец е нахранен и хидратиран, дори когато не сте вкъщи. С умни хранилки и фонтани можете да поддържате вашия пухкав приятел щастлив и здрав.',
        icon: 'fluent-emoji-flat:fountain',
      },
      {
        title: 'Телевизори',
        description:
          'Някои телевизори са умни. Те могат да се управляват чрез гласови команди, мобилнo приложение и могат да бъдат част от сложни автоматизации.',
        icon: 'icon-park:tv-one',
      },
      {
        title: 'Гаражни врати',
        description:
          'Наблюдавайте гаражните си врати и ги отваряйте или затваряйте дистанционно. Можете също така да настроите автоматизации за автоматично отваряне или затваряне на базата на вашето местоположение, време на деня или време, за което са били отворени. Полезна автоматизация е автоматично отваряне, когато наближим дома си с колата.',
        icon: 'fluent-emoji-flat:automobile',
      },
      {
        title: 'Умни контакти',
        description:
          'Умните контакти позволяват на потребителите да следят потреблението на електричество, да включват и изключват устройства дистанционно (чрез приложение или глас) и дори да задават графици за включване или изключване на устройствата.',
        icon: 'fluent-emoji-flat:electric-plug',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Brands
    id="brands"
    title="Някои производители, с които работим"
    tagline="Брандове"
    subtitle="В Ехадом вярваме, че надеждността и качеството са най-важните неща, когато става въпрос за устройства за умни домове."
    icons={[]}
    images={[
      {
        src: '~/assets/images/brands/xiaomi.svg',
        alt: 'Xiaomi',
      },
      {
        src: '~/assets/images/brands/aqara.png',
        alt: 'Aqara',
      },
      {
        src: '~/assets/images/brands/shelly.png',
        alt: 'Shelly',
      },
      {
        src: '~/assets/images/brands/eldom.webp',
        alt: 'Eldom',
      },
      {
        src: '~/assets/images/brands/fujitsu.webp',
        alt: 'Fujitsu',
      },
      {
        src: '~/assets/images/brands/bosch.svg',
        alt: 'Bosch',
      },
      {
        src: '~/assets/images/brands/tapo.png',
        alt: 'Tapo',
      },
      {
        src: '~/assets/images/brands/lg.webp',
        alt: 'LG',
      },
      {
        src: '~/assets/images/brands/meross.webp',
        alt: 'Meross',
      },
    ]}
  />

  <Features2
    id="services"
    title="Какво предлагаме"
    tagline="Услуги"
    subtitle="Предлагаме редица услуги, които могат да ви помогнат да имате успешна система за умен дом - независимо дали е инсталирана от нас или не."
    items={[
      {
        title: 'Инсталация на умен дом',
        description:
          'След като разберем вашите точни нужди, можем да създадем, инсталираме и интегрираме всички устройства в перфектната за вас система за умен дом.',
        icon: 'flat-color-icons:support',
      },
      {
        title: 'Техническа поддръжка за умен дом',
        description:
          'На потребителите, които са се абонирали за план за поддръжка, предлагаме помощ при всякакви проблеми, които могат да възникнат при използването на нашите системи за умен дом.',
        icon: 'flat-color-icons:customer-support',
      },
      {
        title: 'Консултация за умен дом',
        description:
          'Можем да предложим помощ и съвети на всички хора, които имат затруднения със своята система за умен дом.',
        icon: 'flat-color-icons:about',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Steps
    id="steps"
    title="Как изглежда съвместната ни работа"
    tagline="Работен процес"
    items={[
      {
        title: 'Стъпка 1: <span class="font-medium">Свързваме се и обсъждаме вашите нужди</span>',
        description:
          'Обсъждаме по имейл или телефон какви са вашите нужди и какво търсите в системата си за умен дом. Също така правим допълнителни предложения на базата на нашия опит.',
        icon: 'tabler:armchair-2',
      },
      {
        title: 'Стъпка 2: <span class="font-medium">Подгответе персонализирана оферта</span>',
        description:
          'След като сме наясно с вашите нужди, подготвяме оферта, която да отговаря на вашите изисквания и очаквания колкото е възможно повече.',
        icon: 'tabler:note',
      },
      {
        title: 'Стъпка 3: <span class="font-medium">Изпълнение</span>',
        description:
          'Настройваме и интегрираме всички избрани от вас устройства в една система за умен дом, за вашия дом.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Готово!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1608303588026-884930af2559?q=80&w=3403&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3DD&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <CallToAction
    title="Какво следва?"
    subtitle="Научете повече за нас и защо сме най-добрият избор за вашата система за умен дом."
    actions={[
      {
        variant: 'primary',
        text: 'За нас',
        href: '/about',
      },
    ]}
  />
</Layout>
